In [2]:
#import pymongo
from pymongo import MongoClient

#client = MongoClient('localhost', 27017)
client = MongoClient('mongodb://localhost:27017')

In [7]:
#db = client.test_database
db = client['test_database']

In [8]:
collection = db['test_collection']

- insert_one: 한 건 입력

In [14]:
data_dic = {'name' : '홍길동', 'age': 17}

In [ ]:
# 아래 코드를 2번이상 컴파일하면 duplicate 에러 뜸
re_data_dic = collection.insert_one(data_dic)

In [16]:
print(re_data_dic)
re_data_dic.inserted_id

<pymongo.results.InsertOneResult object at 0x00000218E95C0F40>

ObjectId('6168ec502ae707fd870eff19')

In [18]:
data_dic2 = {'name' : '김길동', 'age': 27}

In [19]:
re_data_dic2 = collection.insert_one(data_dic2)

In [20]:
print(re_data_dic2)
re_data_dic2.inserted_id

<pymongo.results.InsertOneResult object at 0x00000218EADA7640>

ObjectId('6168ec722ae707fd870eff1a')

- insert_many - 여러 건 insert

In [21]:
data_list = [
    {'name' : '제갈길동', 'age': 95},
    {'name' : '황보길동', 'age': 82},
    {'name' : '피길동', 'age': 63}
]

In [22]:
re_3 = collection.insert_many(data_list)

In [23]:
re_3.inserted_ids

[ObjectId('6168ed432ae707fd870eff1b'),
 ObjectId('6168ed432ae707fd870eff1c'),
 ObjectId('6168ed432ae707fd870eff1d')]

find_one, find

In [25]:
sr1 = collection.find_one()
sr1

{'_id': ObjectId('6168ea562ae707fd870eff18'), 'name': '홍길동', 'age': 17}

In [32]:
sr2 = collection.find()
sr2

In [33]:
for row in sr2:
    print(row)

{'_id': ObjectId('6168ea562ae707fd870eff18'), 'name': '홍길동', 'age': 17}
{'_id': ObjectId('6168ec722ae707fd870eff1a'), 'name': '김길동', 'age': 27}
{'_id': ObjectId('6168ed432ae707fd870eff1b'), 'name': '제갈길동', 'age': 95}
{'_id': ObjectId('6168ed432ae707fd870eff1c'), 'name': '황보길동', 'age': 82}
{'_id': ObjectId('6168ed432ae707fd870eff1d'), 'name': '피길동', 'age': 63}

참조자료 : http://sikaleo.tistory.com/51
- 조건

In [36]:
#where name = '홍길동'
srs = collection.find({'name' : '홍길동'})
for fi in srs:
    print(fi)

{'_id': ObjectId('6168ea562ae707fd870eff18'), 'name': '홍길동', 'age': 17}

In [44]:
#where name='홍길동' and age=17
sry = collection.find({'name' : '홍길동', 'age':17})
for sy in sry:
    print(sy)

{'_id': ObjectId('6168ea562ae707fd870eff18'), 'name': '홍길동', 'age': 17}

In [48]:
#where  age>=17
sry2 = collection.find({'age' : {'$gte' : 17}})
for sy2 in sry2:
    print(sy2)

{'_id': ObjectId('6168ea562ae707fd870eff18'), 'name': '홍길동', 'age': 17}
{'_id': ObjectId('6168ec722ae707fd870eff1a'), 'name': '김길동', 'age': 27}
{'_id': ObjectId('6168ed432ae707fd870eff1b'), 'name': '제갈길동', 'age': 95}
{'_id': ObjectId('6168ed432ae707fd870eff1c'), 'name': '황보길동', 'age': 82}
{'_id': ObjectId('6168ed432ae707fd870eff1d'), 'name': '피길동', 'age': 63}

In [49]:
#select name from collection where and age
sry3 = collection.find({'age' : {'$gte' : 17}}, {'name': 1, '_id':0})
for sy3 in sry3:
    print(sy3)

{'name': '홍길동'}
{'name': '김길동'}
{'name': '제갈길동'}
{'name': '황보길동'}
{'name': '피길동'}

- update_one, update_many

In [50]:
collection.update_one({'name': '홍길동'}, {'$set' : {'age' : 20}})

In [52]:
srname = collection.find({'name' : '홍길동'})
for srn in srname:
    print(srn)

{'_id': ObjectId('6168ea562ae707fd870eff18'), 'name': '홍길동', 'age': 20}

In [53]:
#나이가 30보다 많은 사람들의 나이를 31로 update하세요
collection.update_many({'age' : {'$gt':30}}, {'$set': {'age' : 31}})

In [55]:
srage = collection.find()
for sage in srage:
    print(sage)

{'_id': ObjectId('6168ea562ae707fd870eff18'), 'name': '홍길동', 'age': 20}
{'_id': ObjectId('6168ec722ae707fd870eff1a'), 'name': '김길동', 'age': 27}
{'_id': ObjectId('6168ed432ae707fd870eff1b'), 'name': '제갈길동', 'age': 31}
{'_id': ObjectId('6168ed432ae707fd870eff1c'), 'name': '황보길동', 'age': 31}
{'_id': ObjectId('6168ed432ae707fd870eff1d'), 'name': '피길동', 'age': 31}

- delete, delete_many

In [56]:
collection.delete_many({'name' : '홍길동'})

In [57]:
s = collection.find()
for a in s:
    print(a)

{'_id': ObjectId('6168ec722ae707fd870eff1a'), 'name': '김길동', 'age': 27}
{'_id': ObjectId('6168ed432ae707fd870eff1b'), 'name': '제갈길동', 'age': 31}
{'_id': ObjectId('6168ed432ae707fd870eff1c'), 'name': '황보길동', 'age': 31}
{'_id': ObjectId('6168ed432ae707fd870eff1d'), 'name': '피길동', 'age': 31}

In [58]:
collection.delete_many({'age' : 31})

In [59]:
q = collection.find()
for p in q:
    print(p)

{'_id': ObjectId('6168ec722ae707fd870eff1a'), 'name': '김길동', 'age': 27}

In [60]:
data_list2 = [
    {'name' : '대갈장군', 'age' : 95},
    {'name' : '아갈장군', 'age' : 195},
    {'name' : '머머리', 'age' : 87},
    {'name' : '시바스대갈', 'age' : 99}
]

In [61]:
data2 = collection.insert_many(data_list2)

In [62]:
qwer = collection.find()
for k in qwer:
    print(k)

{'_id': ObjectId('6168ec722ae707fd870eff1a'), 'name': '김길동', 'age': 27}
{'_id': ObjectId('6168faec2ae707fd870eff1e'), 'name': '대갈장군', 'age': 95}
{'_id': ObjectId('6168faec2ae707fd870eff1f'), 'name': '아갈장군', 'age': 195}
{'_id': ObjectId('6168faec2ae707fd870eff20'), 'name': '머머리', 'age': 87}
{'_id': ObjectId('6168faec2ae707fd870eff21'), 'name': '시바스대갈', 'age': 99}