In [2]:
import numpy as np
import pandas as pd

In [3]:
file_path = './chipotle.tsv'
# read_csv() 함수로 데이터를 데이터 프레임 형태로 불러옴
chipo = pd.read_csv(file_path, sep = '\t')
print(chipo.shape)
print('-----------------------------------------------')
print(chipo.info())

(4622, 5)
-----------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB
None

In [7]:
# chipo 라는 데이터 프레임에서 순서대로 10개의 데이터를 보여줌
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [5]:
# describe() 함수로 기초 통계량 출력
# order_id는 숫자의 의미를 가지지 않기 때문에 str으로 변환
chipo['order_id'] = chipo['order_id'].astype(str)
print(chipo.describe()) # chipo 데이터 프레임에서 수치형 피처들의 기초 통계량을 확인

          quantity
count  4622.000000
mean      1.075725
std       0.410186
min       1.000000
25%       1.000000
50%       1.000000
75%       1.000000
max      15.000000

### order_id와 item_name의 개수
- 두 피처는 범주형 피처이기 때문에 unique() 함수를 사용

In [12]:
print('order_id : ' ,len(chipo['order_id'].unique()))  # order_id의 개수를 출력
print('item_name : ' ,len(chipo['item_name'].unique())) # item_name의 개수를 출력

order_id :  1834
item_name :  50

## 가장 많이 주문한 아이템 Top 10 출력하기

In [13]:
item_cnt = chipo['item_name'].value_counts()[:10]
for idx, (val, cnt) in enumerate(item_cnt.iteritems(), 1):
    print('Top', idx, ":", val, cnt)

Top 1 : Chicken Bowl 726
Top 2 : Chicken Burrito 553
Top 3 : Chips and Guacamole 479
Top 4 : Steak Burrito 368
Top 5 : Canned Soft Drink 301
Top 6 : Steak Bowl 211
Top 7 : Chips 211
Top 8 : Bottled Water 162
Top 9 : Chicken Soft Tacos 115
Top 10 : Chips and Fresh Tomato Salsa 110