In [39]:
import numpy as np
import pandas as pd

In [41]:
df = pd.read_csv('total.csv', encoding="CP949")
df

         지역       시군구           단지명  전용면적(㎡)    계약년월  거래금액(만원)
0     대구광역시    남구 대명동          경일맨션    69.75  202103     12000
1       NaN    남구 대명동  교대역동서프라임36.5    76.24  202103     48800
2       NaN    남구 대명동   대명(3007-34)    84.98  202103     19000
3       NaN    남구 대명동          동아대덕    84.96  202103     22500
4       NaN    남구 대명동        보성청록타운    84.99  202103     29000
...     ...       ...           ...      ...     ...       ...
4213    NaN    중구 대봉동      대봉화성파크드림    84.05  202108     48500
4214    NaN    중구 대신동       대신센트럴자이    84.84  202108     68700
4215    NaN    중구 대신동       대신센트럴자이    84.84  202108     69200
4216    NaN    중구 대신동            동서    65.06  202108     33350
4217    NaN  중구 삼덕동3가         삼덕청아람    84.80  202108     64500

[4218 rows x 6 columns]

In [42]:
df.columns

Index(['지역', '시군구', '단지명', '전용면적(㎡)', '계약년월', '거래금액(만원)'], dtype='object')

In [43]:
df.corr()

           전용면적(㎡)      계약년월  거래금액(만원)
전용면적(㎡)   1.000000 -0.020476  0.203605
계약년월     -0.020476  1.000000  0.010963
거래금액(만원)  0.203605  0.010963  1.000000

In [46]:
df[['계약년월']]

        계약년월
0     202103
1     202103
2     202103
3     202103
4     202103
...      ...
4213  202108
4214  202108
4215  202108
4216  202108
4217  202108

[4218 rows x 1 columns]

In [51]:
df['구'] = df['시군구'].str.slice(start=0, stop=3)
df['구']

0       남구
1       남구
2       남구
3       남구
4       남구
       ...
4213    중구
4214    중구
4215    중구
4216    중구
4217    중구
Name: 구, Length: 4218, dtype: object

In [53]:
df['동'] = df['시군구'].str.slice(start=3)
df['동']

0         대명동
1         대명동
2         대명동
3         대명동
4         대명동
        ...
4213      대봉동
4214      대신동
4215      대신동
4216      대신동
4217    삼덕동3가
Name: 동, Length: 4218, dtype: object